.border-blue{
    border: 2px solid #000e7b;
}
.border-red{
    border: 2px solid #d80909;
}
.border-pink{
    border: 2px solid #800472;
}
.border-purple{
    border: 2px solid #480075;
}
.border-yellow{
    border: 2px solid #f9e400;
}
.border-green{
    border: 2px solid #209f00;
}
